5.vm_connector/src/main/mule/5.vm_connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	  <flow name="publish_message_async_basic" doc:id="ff80f02f-fc7e-4ef6-ab4f-87e82a8ec8bd" >
		<http:listener doc:name="HTTP POST" doc:id="71f98a13-fa34-484c-9622-cc644c5c0f0f" config-ref="HTTP_Listener_config" path="/async-basic"/>
		<logger level="INFO" doc:name="LOG START" doc:id="aba29059-097c-40ca-b994-fc50c66b2dbc" message='"before publish to queue"'/>
		<vm:publish doc:name="Publish to Queue Async" doc:id="afb056bd-e64e-43a8-a48c-0e1933410145" config-ref="VM_Config" queueName="queue.persistent"/>
		<logger level="INFO" doc:name="LOG END" doc:id="43bfed98-a430-4385-a647-ffb3d2d28116" message='"after publish to queue"'/>
	</flow>
	<flow name="listener_message_async_basic" doc:id="5b4b4dde-032d-4264-bf0e-dedf71967089" >
		<vm:listener queueName="queue.persistent" doc:name="Queue Basic Listener" doc:id="a175d695-34d6-48b3-a5de-aed075141823" config-ref="VM_Config"/>
		<flow-ref doc:name='Call flow "print payload"' doc:id="181c53f5-ee7e-4e85-9de2-a13f52ab4a35" name="print_payload"/>
	</flow>
	<flow name="publish_message_async_dynamic_routing" doc:id="93f9b72b-a2f8-4254-a7ab-3f07c3565ec1" >
		<http:listener doc:name="HTTP POST" doc:id="81e88f6e-cffc-42d1-8be8-59f252f39aef" config-ref="HTTP_Listener_config" path="/dynamic-routing" allowedMethods="POST"/>
		<logger level="INFO" doc:name="LOG START" doc:id="5b9c5ec8-3a94-4c7b-845f-b7022a53388b" message='"before publish to queue"'/>
		<vm:publish doc:name="Publish to Queue Dynamically" doc:id="3ea8791a-9bb3-4df3-864f-6bbfb1aceac8" config-ref="VM_Config" queueName="#[payload.destination]"/>
		<logger level="INFO" doc:name="LOG END" doc:id="599b5ced-428e-4fcc-a84c-88eec8ef5915" message='"after publish to queue"'/>
	</flow>
	<flow name="listener_async_dynamic_routing_A" doc:id="dbea0246-e1c6-49f2-9f65-77ad897e950e" >
		<vm:listener doc:name="Queue A Listener" doc:id="28f7e011-38bb-4e93-a32a-2051e59119bb" config-ref="VM_Config" queueName="queue.A"/>
		<logger level="INFO" doc:name="Log A" doc:id="6e94d609-bac8-42cc-8895-f28327e2374d" message='"this is queue A"'/>
	</flow>
	<flow name="listener_async_dynamic_routing_B" doc:id="b2e40972-b58b-490d-9260-90b13cc0c329" >
		<vm:listener doc:name="Queue B Listener" doc:id="247facef-34ee-4a76-a4c3-0b8c19a06cfc" config-ref="VM_Config" queueName="queue.B"/>
		<logger level="INFO" doc:name="Log B" doc:id="df32233c-0d73-44c7-9ef0-515065696191" message='"this is queue B"'/>
	</flow>
	<flow name="publish_consume_message_sync_basic" doc:id="e4264e3f-fdd6-4242-946b-163899f7f91e" >
		<http:listener doc:name="HTTP POST" doc:id="33eeb992-c623-4a43-9a1a-9be906b6fd0a" config-ref="HTTP_Listener_config" path="/sync-basic"/>
		<logger level="INFO" doc:name="LOG START" doc:id="a37ebae4-55cf-4c04-9376-456a5094c814" message='"before publish to queue"'/>
		<vm:publish-consume doc:name="Publish to queue and consume response sync" doc:id="6699d2d7-9cf0-483e-b0ca-51feea22f491" config-ref="VM_Config" queueName="queue.C" target="listenerResponse"/>
		<logger level="INFO" doc:name="LOG END" doc:id="8f628460-e9a6-4e67-9f39-40aae2fa270a" message='#[vars.listenerResponse]'/>
	</flow>
	<flow name="listener_message_sync_basic" doc:id="c7ed6c69-7619-41d7-bccc-d9a29f47f5bd" >
		<vm:listener doc:name="Queue C Listener" doc:id="8dfda98b-3503-4e09-8cbe-f17c50eb9ead" config-ref="VM_Config" queueName="queue.C">
			<vm:response >
				<vm:content ><![CDATA[#["response from listener"]]]></vm:content>
			</vm:response>
		</vm:listener>
		<flow-ref doc:name='Call flow "print payload"' doc:id="133944fc-1278-495b-9970-3f81b27fe8f1" name="print_payload"/>
	</flow>
	<flow name="print_payload" doc:id="1ca62ad5-a70f-4c70-86d4-c3ae32fcc275">
		<logger level="INFO" doc:name="Logger" doc:id="fe471235-0be3-4ff7-ab2b-4388d89f2dfb" message="#[payload]" />
	</flow>
</mule>
